.hp {
  background-color: #fe0000;
  padding: 4px;
  border-radius: 4px;
  border: solid black 2px;
}

.atk {
  background-color: #ee7f30;
  padding: 4px;
  border-radius: 4px;
  border: solid black 2px;
}

.def {
  background-color: #f9d031;
  padding: 4px;
  border-radius: 4px;
  border: solid black 2px;
}

.spc-atk {
  background-color: #6890f2;
  padding: 4px;
  border-radius: 4px;
  border: solid black 2px;
}

.spc-def {
  background-color: #79c650;
  padding: 4px;
  border-radius: 4px;
  border: solid black 2px;
}

.spd {
  margin-bottom: 50px;
  background-color: #f85786;
  padding: 4px;
  border-radius: 4px;
  border: solid black 2px;
}
