.types {
  display: flex;
}

.Bug {
  background-color: #a9b821;
  padding: 4px;
  border-radius: 4px;
  border: solid black 2px;
  color: white;
}

.Dark {
  background-color: #715646;
  padding: 4px;
  border-radius: 4px;
  border: solid black 2px;
  color: white;
}

.Dragon {
  background-color: #6e35fd;
  padding: 4px;
  border-radius: 4px;
  border: solid black 2px;
  color: white;
}

.Electric {
  background-color: #f7d12d;
  padding: 4px;
  border-radius: 4px;
  border: solid black 2px;
  color: white;
}

.Fairy {
  background-color: #d684ac;
  padding: 4px;
  border-radius: 4px;
  border: solid black 2px;
  color: white;
}

.Fighting {
  background-color: #c32e29;
  padding: 4px;
  border-radius: 4px;
  border: solid black 2px;
  color: white;
}

.Fire {
  background-color: #ef8131;
  padding: 4px;
  border-radius: 4px;
  border: solid black 2px;
  color: white;
}

.Flying {
  background-color: #a98ff3;
  padding: 4px;
  border-radius: 4px;
  border: solid black 2px;
  color: white;
}

.Ghost {
  background-color: #725796;
  padding: 4px;
  border-radius: 4px;
  border: solid black 2px;
  color: white;
}

.Grass {
  background-color: #7ac64d;
  padding: 4px;
  border-radius: 4px;
  border: solid black 2px;
  color: white;
}

.Ground {
  background-color: #e2be64;
  padding: 4px;
  border-radius: 4px;
  border: solid black 2px;
  color: white;
}

.Ice {
  background-color: #96d8d7;
  padding: 4px;
  border-radius: 4px;
  border: solid black 2px;
  color: white;
}

.Normal {
  background-color: #a9a77b;
  padding: 4px;
  border-radius: 4px;
  border: solid black 2px;
  color: white;
}

.Poison {
  background-color: #a140a1;
  padding: 4px;
  border-radius: 4px;
  border: solid black 2px;
  color: white;
}

.Phychic {
  background-color: #f85487;
  padding: 4px;
  border-radius: 4px;
  border: solid black 2px;
  color: white;
}

.Rock {
  background-color: #b7a036;
  padding: 4px;
  border-radius: 4px;
  border: solid black 2px;
  color: white;
}

.Steel {
  background-color: #b6b6ce;
  padding: 4px;
  border-radius: 4px;
  border: solid black 2px;
  color: white;
}

.Water {
  background-color: #6291f0;
  padding: 4px;
  border-radius: 4px;
  border: solid black 2px;
  color: white;
}
